:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: goldenrod;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'ringCursive';
    src: url('../assets/TengwarCursive-lgmy.ttf');
}

h1 {
    color: darkred;
    font-family: 'ringBearerFont';
}

h1 a {
    color: darkred;
    text-decoration: none;
    text-decoration: underline;
}
header .logo {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url('../assets/leather.jpg');
    background-repeat: repeat;
}
