#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1600px;
    height: 1600px;
}
.fellow-card {
    margin: 5px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset gold 30px;
    transition-property: border padding;
    transition-duration: 500ms;
}

.fellow-card:hover {
    border: inset gold 50px;
    padding: 0px;
    /* transform: rotate(90deg); */
}

.fellow-card img {
    width: 400px;
}

.fellow-card p {
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    /* background-color: rgba(198, 181, 29, 0.77); */
    background-color: rgba(0, 0, 0, 0.77);
}

@font-face {
    font-family: 'ringBearerFont';
    src: url('../assets/RingbearerMedium-51mgZ.ttf');
}
.fellow-name {
    margin: 1px 1px;
    font-size: 2.3em;
    font-family: 'ringBearerFont';
    text-decoration: underline;
    color: gold;
}

.details-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-name {
    margin: 1px 1px;
    font-size: 6rem;
    font-family: 'ringBearerFont';
    text-decoration: underline;
    color: gold;
}

.detail-card img {
    width: 500px;
}

.detail-stat {
    margin: 0;
    font-size: 3rem;
    color: gold;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    text-align: center;
}

.detail-title {
    font-style: italic;
}

.detail-weapon::before {
    content: 'Weapon: ';
}
